<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "~{fragment/fragments ::head}">
    </head>
    <body id='page-top' >

        <div id="wrapper">
            <ul th:replace = "~{fragment/fragments ::nav-info}">

            </ul>
            <div  id="content-wrapper" class="d-flex flex-column">
                <div  id="content">
                    <nav th:replace = "~{fragment/fragments ::header}">

                    </nav>
                    <div class="container-fluid">
                        <h1 class="h3 mb-2 text-gray-800" th:text="${testName}">nameTest</h1>
                        <p class="mb-4"></p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form action="#" th:action="@{/test/addQuestion}" th:object="${testAddQuestionDto}" method="post">
                                    <table class="table table-qh table-striped">

                                        <thead>
                                            <tr>
                                                <th>Tick</th>
                                                <th>ID</th>
                                                <th>Question content</th>
                                                <th>Corect Answer</th>
                                                <th>Answer 1</th>
                                                <th>Answer 2</th>
                                                <th>Answer 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <th:block th:each="question :${listQuestion}">
                                                <tr >

                                                    <td>
                                                        <input  th:field="*{listQuestionId}" type="checkbox" th:value="${question.id}"/>
                                                    </td>
                                                    <td th:utext="${question.id}">

                                                    </td>
                                                    <td th:utext="${question.content}">

                                                    </td>
                                                    <td th:utext="${question.correctAnswer}">

                                                    </td>
                                                    <td th:utext="${question.answer1}">

                                                    </td>
                                                    <td th:utext="${question.answer2}">

                                                    </td>
                                                    <td th:utext="${question.answer3}">

                                                    </td>   
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                    <span th:if="${#fields.hasErrors('listQuestionId')}" th:errors="*{listQuestionId}"></span><br/>
                                    <input type="hidden" th:field="*{testId}" />
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace = "~{fragment/fragments ::footer}">

                </footer>
            </div>

        </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.easing.min.js}"></script>
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>
