<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "~{fragment/fragments ::head}">
    </head>
    <body id='page-top' >

        <div id="wrapper">
            <ul th:replace = "~{fragment/fragments ::nav-info}">

            </ul>
            <div  id="content-wrapper" class="d-flex flex-column">
                <div  id="content">
                    <nav th:replace = "~{fragment/fragments ::header}">

                    </nav>
                    <div class="container-fluid">
                        <h1 class="h3 mb-2 text-gray-800">Create Question</h1>
                        <p class="mb-4"></p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form action="#" th:action="@{/question/save}" th:object="${question}" method="post" class="form-signin">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input type="text" th:field="*{content}" 
                                               class="form-control" placeholder="Content"/>
                                        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>

                                    </div>
                                    <div class="form-group">
                                        <label>Correct Answer</label>
                                        <input type="text" th:field="*{correctAnswer}" 
                                               class="form-control" placeholder="Correct Answer"/>
                                        <span th:if="${#fields.hasErrors('correctAnswer')}" th:errors="*{correctAnswer}"></span>

                                    </div>
                                    <div class="form-group">
                                        <label>Answer 1</label>
                                        <input type="text" th:field="*{answer1}" 
                                               class="form-control" placeholder="Answer 1"/>
                                        <span th:if="${#fields.hasErrors('answer1')}" th:errors="*{answer1}"></span>

                                    </div>

                                    <div class="form-group">
                                        <label>Answer 2</label>
                                        <input type="text" th:field="*{answer2}" 
                                               class="form-control" placeholder="Answer 2"/>
                                        <span th:if="${#fields.hasErrors('answer2')}" th:errors="*{answer2}"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Answer 3</label>
                                        <input  type="text" th:field="*{answer3}" 
                                                class="form-control" placeholder="Answer 3"/>
                                        <span th:if="${#fields.hasErrors('answer3')}" th:errors="*{answer3}"></span>

                                    </div>
                                    <input th:field="*{id}" type="hidden"/>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-primary">Cancel</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace = "~{fragment/fragments ::footer}">

                </footer>
            </div>

        </div>

        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.easing.min.js}"></script>
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>
