<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "~{fragment/fragments ::head}">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace = "~{fragment/fragments ::nav-info}">

            </ul>
            <div  id="content-wrapper" class="d-flex flex-column">
                <div  id="content">
                    <nav th:replace = "~{fragment/fragments ::header}">

                    </nav>
                    <div class="container-fluid">
                        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                        <p class="mb-4"></p>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <a th:href="@{/test/create}"/><button type="button" class="btn btn-primary">Create test</button></a>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Quiz code</th>
                                            <th>Quiz name</th>
                                            <th>Total times</th>
                                            <th>Total Questions</th>
                                            <th>Description</th>
                                            <th>Quiz type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="test, state :${list}">
                                            <tr >
                                                <td th:utext="${test.id}">

                                                </td>
                                                <td th:utext="${test.testName}">

                                                </td>
                                                <td th:utext="${test.testTime}">

                                                </td>
                                                <td th:utext="${test.questionNumber}">

                                                </td>
                                                <td th:utext="${test.description}">

                                                </td>   
                                                <td th:utext="${test.testType.name}">

                                                </td>  
                                                <td>
                                                    <a th:href="@{/test/delete(id=${test.id})}">
                                                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                                    </a>
                                                    <a th:href="@{/test/edit(id=${test.id})}">
                                                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></a>

                                                    <a class="btn btn-primary" th:href="@{/test/addQuestion(id=${test.id})}">Add Question</a>
                                                </td>  

                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            <nav aria-label="Pagination" th:if="${list.totalPages gt 0}">
                                    <ul class="pagination justify-content-center font-weight-medium">
                                        <li class="page-item" th:classappend="${list.number eq 0} ? 'disabled'">
                                            <a class="page-link svg-icon"
                                               th:href="@{/test/list?page={id}(id=${list.number lt 2 ? 1 : list.number})}"
                                               aria-label="Previous">
                                                Lùi
                                            </a>
                                        </li>
                                        <li class="page-item" th:classappend="${i eq list.number + 1} ? 'active'"
                                            th:each="i : ${#numbers.sequence( list.number + 1, list.totalPages > 10 + list.number ? list.number + 10 : list.totalPages, 1)}">
                                            <a class="page-link" th:href="@{/test/list?page={id}(id=${i})}" th:text="${i}"
                                               th:title="${'Page '+ i}"
                                               rel="tooltip"></a>
                                        </li>
                                        <li class="page-item disabled" th:if="${list.number + 10 < list.totalPages}">
                                            <a class="page-link svg-icon" href="#">
                                                <span data-feather="more-horizontal" width="20" height="20"></span>
                                            </a>
                                        </li>
                                        <li class="page-item" th:classappend="${list.number + 1 eq list.totalPages} ? 'disabled'">
                                            <a class="page-link svg-icon" th:href="@{/test/list?page={id}(id=${list.number + 2})}"
                                               aria-label="Next"
                                               title="Next Page" rel="tooltip">
                                               Tới
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>      
                        </div>

                    </div>

                </div>




                <footer th:replace = "~{fragment/fragments ::footer}">

                </footer>
            </div>
        </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.easing.min.js}"></script>
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>
