/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2019, 6:53:24 AM
    Author     : minhh
*/
body {
    margin: 0;
    padding-top: 0px;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial,
        sans-serif, "é‚æ¿ç•«æµ£ï¿½";
}

/*body scroll*/
::-webkit-srollbar-track-piece {
    background: none;
    -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #bbbbbb;
    -webkit-border-radius: 4px;
    outline: 0px solid #ffffff;
    ouline-offset: -2px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #999999;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #bbbbbb;
    -webkit-border-radius: 4px;
    outline: 0px solid #ffffff;
    ouline-offset: -2px;
    border: 2px solid #ffffff;
}

/*body scroll*/

@-ms-viewport {
    width: device-width;
}

/*add by chenrk */
.mouse-point {
    cursor: pointer;
}

.not_data {
    text-align: center;
    padding: 50px 0;
    font-size: 12px;
    color: #9c9c9c;
}

/*match user guess*/
.match_user_guess_left,.match_user_guess_right{

}

/*match user guess*/

/*match user guess history*/
.match_user_guess_top{

}

.match_user_guess_items_container{

}

/*match user guess history*/

/*filter for items query*/
.item_filter{

}

.search{

}

/*filter for items query*/

/*bag and inventory*/
.bagList{
    height: 455px;
    overflow:auto;

}

.itemsPanel{

}

.itemsPanelHead{

}

.itemsPanelItemsBody{

}

.itemsPanelItemsList{
    /*
    height: 300px;
overflow-y: auto;
    */
}
/*bag and inventory*/

/*match nav*/
.match_schedule{
    overflow: hidden;
}
/*match nav*/

/*for user's rank*/
.user-ranks{

}
/*for user's rank*/

.bag_items_pick_header{

}

/*items box*/
.item_box {
    width: 99px;
    height: 66px;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 1px 10px 10px 1px;
    border-width: 1px;
    border-style: solid;
}

.item_box {
    color: #DFDFDF;
    background-size:contain;
    text-align: center;
    margin: 5px 1%;
    float: left;
    width: 14.666%;
    cursor: pointer;
}

.item_box .showbc {
    float: right;
    position: relative;
    margin-top: -75%;
    background: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
}

.item_box .item_price {
}

.item_box .rarity {
    float: left;
    font-size: 0.65em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -1em;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
}

.item_box img {
    width: 100%;
    height: 100%;
}

/*items box selected*/
.item_box .item_selected{

}

.item_box .item_backing {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 62px;
    border: 1px solid #c62f2f;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.unique,.normal {
    -webkit-box-shadow: 0px 0px 1px 1px #D2D2D2;
    box-shadow: 0px 0px 1px 1px #D2D2D2;
}

.strange {
    -webkit-box-shadow: 0px 0px 1px 1px #CF6A32;
    box-shadow: 0px 0px 1px 1px #CF6A32;
}

.unusual,.unusual_strange {
    -webkit-box-shadow: 0px 0px 1px 1px #8650AC;
    box-shadow: 0px 0px 1px 1px #8650AC;
}

.vintage {
    -webkit-box-shadow: 0px 0px 1px 1px #476291;
    box-shadow: 0px 0px 1px 1px #476291;
}

.tournament {
    -webkit-box-shadow: 0px 0px 1px 1px #FFD700;
    box-shadow: 0px 0px 1px 1px #FFD700;
}

.genuine {
    -webkit-box-shadow: 0px 0px 1px 1px #4D7455;
    box-shadow: 0px 0px 1px 1px #4D7455;
}

.favored {
    -webkit-box-shadow: 0px 0px 1px 1px #FFFF00;
    box-shadow: 0px 0px 1px 1px #FFFF00;
}

.ascendant {
    -webkit-box-shadow: 0px 0px 1px 1px #EB4B4B;
    box-shadow: 0px 0px 1px 1px #EB4B4B;
}

.autographed {
    -webkit-box-shadow: 0px 0px 1px 1px #ADE55C;
    box-shadow: 0px 0px 1px 1px #ADE55C;
}

.legacy {
    -webkit-box-shadow: 0px 0px 1px 1px #FFFFFF;
    box-shadow: 0px 0px 1px 1px #FFFFFF;
}

.exalted {
    -webkit-box-shadow: 0px 0px 1px 1px #CCCCCC;
    box-shadow: 0px 0px 1px 1px #CCCCCC;
}

.frozen {
    -webkit-box-shadow: 0px 0px 1px 1px #4682B4;
    box-shadow: 0px 0px 1px 1px #4682B4;
}

.corrupted {
    -webkit-box-shadow: 0px 0px 1px 1px #A52A2A;
    box-shadow: 0px 0px 1px 1px #A52A2A;
}

.lucky {
    -webkit-box-shadow: 0px 0px 1px 1px #32CD32;
    box-shadow: 0px 0px 1px 1px #32CD32;
}
/*items box*/

/*offer class*/
.offers{

}

.active_offer{

}

.active_offer .bot_nick{
    color: #f3f1ef;
    font-size: 15px;
    margin-right: 10px;
}
.active_offer .bot_steamtime{
    font-size: 13px;
    color:#e8402a;
}



.active_offer_last{

}

.active_offer_finish{

}

.offer_history_items{
    padding-top:10px;
}
/*offer class*/

.user_guess_list{

}

.user_guess_data_tr{

}

.hover_tr{

}

/*team*/
.teamName {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.teamImg {
    width: 75px;
    height: 60px;
    background-color:#333;
    background-size: 75px 60px;
    -moz-background-size: 75px 60px;
    -moz-background-size: 75px 60px;
    -o-background-size: 75px 60px;
}
/*team*/

.loading{
    text-align: center;
    font-size:12px;
    color:gray;
}

.circleProgress{

}

.qrInfoBox .status.normal {
    margin-top: 15px;
    color:#fff;
    background-color: #232323;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
    -moz-box-shadow: inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
    -webkit-box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
}

.qrInfoBox .status {
    padding: 7px 14px;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .others_loginauth{
        margin-top:10px;
    }

    .btn-loginauth {
        width: 140px;
        line-height: 37px;
        border: none;
        background: #7a8696;
        text-align: left;
        margin-top: 10px;
        margin-left:10px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 1024px){
    .others_loginauth{
        margin-top:10px;
    }

    .btn-loginauth {
        width: 140px;
        line-height: 37px;
        border: none;
        background: #7a8696;
        text-align: left;
        margin-top: 10px;
        margin-left:10px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1029px){
    .others_loginauth{
        width:140px;
        margin-top:10px;
    }

    .btn-loginauth {
        width: 140px;
        height: 37px;
        line-height: 37px;
        border: none;
        background: #7a8696;
        padding: 0 0 0 13px;
        text-align: left;
        margin-top: 10px;
        font-size: 12px;
    }
}

.steamId,.no_steamId{
    font-size: 12px;
    color: #d2d4d6;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
    text-align: center;
}

.fleft, .floatL, .floatl {
    float: left;
}

.eventPage .event-left, .sessionPage .session-left {
    width: 930px;
}

.eventPanel .event-info li {
    float: left;
    font-size: 14px;
    color: orange;
    text-align: center;
    width: 180px;
    height: 170px;
    margin-right: 8px;
    background: rgb(34, 45, 50);
}

.eventPanel .event-left .event-info {
    border-bottom: 1px solid #ddd;
}

.eventPanel .event-info li.last {
    margin: 0;
}

.eventPanel .event-info li .event-info-icon .iconfont {
    font-size: 50px;
    color: #e3e3e3;
}

.eventPanel .event-info li .flag {
    vertical-align: middle;
    margin-top: -2px;
}

.pt10 {
    padding-top: 10px;
    color:#202020;
}

.pt20 {
    padding-top: 20px;
}

.noteClass {
    color: red;
}
.ratebox > li {
  
        display: block;
        list-style-type: disc !important ;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;  

}
