body {
	background-color: #222d32;
	color: #c2c2c2;
}

.top {
	border-bottom-color: #505659;
	background-color: #263238;
}

.top .logo {
	background-color: #263238;
}

.top .a-right a.word-a {
	color: #8b8f94;
}

.nav-top {
	background-color: #263238;
}

.nav-top .navbar-toggle .icon-bar {
	background-color: #fff;
}

@media ( min-width : 768px) {
	#bs-navbar ul li a {
		color: #c2c2c2;
	}
	#bs-navbar ul.nav li a:focus, #bs-navbar ul.nav li a:hover {
		background-color: rgba(0, 0, 0, 0);
	}
}

.alert-box .alert-alarm {
	color: #919599;
	background-color: #263238;
}

.alert-box .alert-alarm .alert-tit {
	color: #fff;
	background-color: #e34a4a;
}

.alert-box .alert-alarm button {
	color: #919599;
}

.bottom {
	background-color: #263238;
}

.bottom p {
	color: gray;
}

@media(min-width:1250px){
	.slider-right {
		background-color: #29363d;
	}
}

.slider-right ul li a p {
	color: #9a9ea3;
}

.main-two .nav-left ul li {
	background-color: #263238;
}

.main-two .nav-left ul li:nth-child(even) {
	background-color: #29363d;
}

.main-two .nav-left ul li a {
	color: #c2c2c2;
}

.quo-his {
	background-color: #29363d;
}

.quo-his h1.tit {
	background-color: #263238;
}

.query-box {
	background-color: #29363d;
}

.search-left {
	background-color: #263238;
}

.query-box .glyphicon, .search-left .glyphicon {
	color: #919599;
}

.query-box input, .search-left input {
	background-color: rgba(0, 0, 0, 0);
}

.query-box select.form-control {
	background-color: #2a323c;
	color: #919599;
}

.query-box .right-box .input-group {
	background-color: #263238;
}

.query-box .right-box label {
	color: #919599;
}

.quo-his .table tr, .quo-his .table tbody tr td, .quo-his .table thead tr th
	{
	border-color: rgba(0, 0, 0, 0);
}

.quo-his .table tbody tr td, .quo-his .table thead tr th, .quo-his .table tbody tr td a {
	color: #c2c2c2;
}

.quo-his .table.table-qh tbody tr:nth-child(odd), .quo-his .table.table-qh tbody tr.odd
	{
	background-color: #29363d !important;
}
.odd{
    background-color: #29363d !important;
}

.quo-his .table.table-qh tbody tr:nth-child(even), .quo-his .table.table-qh tbody tr.even
	{
	background-color: #2c3941 !important;
}
.even{
    background-color: #2c3941 !important;
}

.page-info .pagination li a {
	color: #c2c2c2;
	background-color: rgba(0, 0, 0, 0);
}

.page-info .pagination li.active a.active {
	background:#fe5b26;
}

.page-info .pagination li a.active {
	color: #fff;
	background-color: #e34a4a;
}

/*.con-ser .feedback-box{padding: 10px 20px; text-align: right; background-color: #29363d;}*/
.con-ser .btn-green {
	background-color: #d9534f;
	color: #fff;
}

.con-ser .table thead tr {
	background-color: #263238;
}

.con-ser .table tbody tr {
	background-color: #29363d;
}

.con-ser .table tbody tr td .label.label-warning {
	background-color: #cc6633;
}

.con-ser-detail .csd-art .ca-tit {
	color: #c2c2c2;
}

.con-ser-detail .csd-art .ca-list li h5 {
	color: #8e9398;
	background-color: #263238;
}

.con-ser-detail .csd-art .ca-list li h5 span.split {
	border-left-color: #797979;
}

.con-ser-detail .csd-art .ca-list li .words {
	background-color: #2c3941;
}

.con-ser-detail .csd-art .ca-list li .words p {
	color: #c2c2c2;
}

.etopPanel{
	background-color: #29363d;
}

.pi-top {
	background-color: #29363d;
}

.pi-top .head-img-box .img-box {
	background-color: #fff;
}

.pi-top .head-img-box .img-bg {
	
}

.pi-top .head-img-box .img-bg p {
	color: #e9e9e9;
}

.pi-top h4 {
	color: #c2c2c2;
}

.pi-top h5 {
	color: #c2c2c2;
}

.pi-top .trade-link span.input-group-addon {
	background-color: #038b9a;
	color: #fff;
	border-color: #038b9a;
}

.pi-top .trade-link input {
	background-color: #3f464f;
	color: rgba(255, 255, 255, 0.6)
}

.pi-top .btns {
	border-color: #5c6269;
}

.pi-set .set-list li:nth-child(odd) {
	background-color: #29363d !important;
}

.pi-set .set-list li:nth-child(even) {
	background-color: #2c3941 !important;
}


.pi-set .set-list li label {
	color: #c2c2c2;
}

.pi-set .set-list li p {
	color: #fff;
}

.acc-tabs .nav-tabs {
	background-color: #263238;
}

.acc-tabs .nav-tabs li a {
	color: #c3c3c3;
}

.acc-tabs .nav-tabs li.active a {
	background-color: #29363d;
	border-color: #29363d;
}

.acc-tabs .tab-content .tab-pane {
	background-color: #29363d;
}

.ar-table .table thead tr {
	background-color: #263238;
}

.orn-dep .url-box p {
	color: #c2c2c2;
}

.orn-dep .url-box p a {
	color: #f80101;
}

.orn-dep .url-box .input-group .input-group-addon {
	background-color: #2a323c;
	color: #fff;
}

.orn-dep .url-box .input-group input.form-control {
	background-color: #3f464f;
	color: #fff;
}

.orn-dep .url-box .input-group input.form-control:focus {
	border-color: #ccc;
}

.btns01 .btn.btn-dark {
	background-color: #263238;
	color: #c2c2c2;
}

.btns01 .btn.btn-dark.active {
	background-color: #e34a4a;
	color: #fff;
}

.orn-dep .od-box .btns02 p {
	font-size: 12px;
}

.orn-dep .od-box .btns02 .text-right .btn {
	color: #fff;
}

.orn-dep .od-box .btns02 .text-right .btn.btn-primary {
	background-color: #038b9a;
}

.orn-dep .od-box .btns02 .text-right .btn.btn-green {
	background-color: #008000
}

.orn-dep .od-box .od-line {
	color: #919599;
	background-color: #263238;
}

.orn-dep .od-box .od-line .echarts-box {
	background-color: #ddd;
}

.od-list .input-group.search-left {
	border-color: #5c6269;
}

.od-list .input-group select {
	background-color: #2a323c;
	color: #c2c2c2;
}

.od-list .count-right {
	color: #91959a;
}

.od-list .count-right span label {
	color: #cc6633;
}

.od-list .count-right span a {
	color: #c2c2c2;
}

.od-list.quo-his .img-list {
	background-color: #263238;
}

#od_list .popover.bottom .arrow:after {
	border-bottom-color: #333a3d;
}

#od_list .popover-content .pop-box h1.tit {
	color: #989ca1;
}

#od_list .popover-content .pop-box p.attr {
	background-color: #1c2428;
}

#od_list .popover-content .pop-box p.attr label {
	color: #fff;
}

#od_list .popover-content .pop-box h2.tit {
	color: #95989d;
}

#od_list .popover-content .pop-box p.intro {
	color: #95989d;
}

.con-left .img-list h2.tit {
	color: #c2c2c2;
}

.con-left .img-list h2.tit span {
	color: #c86432;
}


.con-left .count-box {
	color: #9b9ea3;
}

.con-left .count-box .count-group .progress-table .progress-line {
	background: linear-gradient(to right, #010101, #989898);
}

.con-left .from-group .label-left {
	color: #c2c2c2;
}

.con-left .from-group .value-right label {
	color: #c2c2c2;
}

.con-left .from-group .value-right .form-control[type=text] {
	color: #fff;
	background-color: #3f464f;
}

.con-left .from-group .value-right p.intro {
	color: #e4e4e4;
}

.conver-index h1.tit {
	color: #c2c2c2;
	background-color: #263238;
}

.conver-index .ci-filter {
	background-color: #29363d;
}

.conver-index .ci-filter select.form-control {
	background-color: #2a323c;
	color: #c2c2c2;
}

.conver-index .ci-filter .btns-right .btn.btn-primary {
	background-color: #038b9a;
}

.conver-index .ci-list .ci-group .cig-title {
	background-color: #263238;
}

.conver-index .ci-list .ci-group .cig-title .info-left {
	color: #91959a;
}

.conver-index .ci-list .ci-group .cig-title .btns-right .btn.btn-primary {
	background-color: #038b9a;
}

.cig-content {
	background-color: #29363d;
}

.cig-content .list-right .count-block {
	background-color: #263238;
}

.cig-content .list-right .count-block h5 {
	color: #c2c2c2;
}

.cig-content .list-right .count-block .intro label {
	color: #c2c2c2;
}

.ci-list .page-info {
	background-color: #29363d;
}

.con-tabs .nav-tabs {
	background-color: #29363d;
}

.con-tabs .nav-tabs li.active a:after {
	border-bottom-color: #797979;
}

.dota2-list ul.dota2-ul li {
	background-color: #2c3941;
}

.dota2-list ul.dota2-ul li h5 {
	color: #9b9ea3;
}

.dota2-list ul.dota2-ul li p.count {
	color: #9b9ea3;
}

.dota2-list ul.dota2-ul li p.count label b.red {
	color: #b00;
}

.dota2-list ul.dota2-ul li p.count label b.blue {
	color: #04deea;
}

.dota2-list ul.dota2-ul li .btn.btn-blue {
	color: #fff;
	background-color: #038b9a;
}

.dota2-list ul.dota2-ul li .btn.btn-primary {
	color: #fff;
	background-color: #038b9a;
}

.dota-popover {
	background-color: #fff;
}

.dota-popover .dp-box .info-left p {
	color: #333;
}

.dota-popover .dp-box .info-right .info-group label.label-left {
	color: #333;
}

.dota-popover .dp-box .info-right .info-group span.span-right label.red
	{
	color: #c73434;
}

.dota-popover .dp-box .info-right .info-group span.span-right a.help {
	color: #08deea;
}


.dota-popover .links-bot .half {
	border-color: #f2f2f2;
}

.dota-popover .links-bot .half a {
	color: #0099ff;
}

.creater-info {
	background-color: #29363d;
}

.creater-info .time-right label {
	color: #c2c2c2;
}

.creater-info .share-box label {
	color: #c2c2c2;
}

.activity-intro h1.tit {
	color: #c2c2c2;
}

.activity-intro .ai-det {
	background-color: #29363d;
}

.activity-intro .ai-det .aid-left h5 {
	color: #858a8f;
}

.jp-poor .img-list h2 {
	color: #c2c2c2;
}

.jp-poor .img-list h2 label b {
	color: #c66432;
}

.people-tabs .nav-tabs li a b {
	color: #c63;
}

.people-tabs .nav-tabs li.active a {
	border-bottom-color: #797979;
	color: #9b9ea4;
}

.people-tabs .tab-content .tab-pane {
	background-color: #29363d;
}

.index-left-tabs .tab-content .tab-pane {
	background-color: #29363d;
}

.games-index-box .gib-filters a {
	color: #93969c;
}

.games-index-box .gib-filters a.active {
	color: #fff;
	background-color: #e34a4a;
}

.games-index-box .gib-group .gibg-title {
	color: #c2c2c2;
	background-color: #263238;
}

.games-index-box .gib-group .gibg-title .matchDesc {
	color: #d49915
}

.games-index-box .gib-group .gibg-title a {
	color: #c2c2c2;
}

.games-index-box .gib-group .gibg-list a:nth-child(odd) .gibg-group {
	background-color: #29363d;
}

.games-index-box .gib-group .gibg-list a:nth-child(even) .gibg-group {
	background-color: #2c3941;
}

.games-index-box .gib-group .gibg-list a:hover .gibg-group {
	background-color: #323c48;
}

.yellow {
	color: #f8b201;
}

.green {
	color: #66d203;
}

.gray {
	color: #979aa0;
}

.games-index-box .gib-group .gibg-list .gibg-group .status .name {
	color: #d49915;
}

.games-index-box .gib-group .gibg-list .gibg-group .info {
	color: #c2c2c2;
}

.user-box {
	background-color: #29363d;
}

.user-box .ub-top a {
	color: #c3c3c3;
}

.user-box .ub-img-box .sf-box p {
	color: #fff;
	text-align: center;
}

.user-box .ub-username {
	color: #c2c2c2;
}

.user-box .count-box {
	border-top-color: #51585b;
}

.user-box .count-box .cb-block {
	border-left-color: #797979;
	color: #c2c2c2;
}

.user-box .link-box .lb-box a {
	color: #c2c2c2;
}

.games-tabs .games-sm-list table tr:nth-child(odd) {
	background-color: #29363d;
}

.games-tabs .games-sm-list table tr:nth-child(even) {
	background-color: #2c3941;
}

.games-tabs .games-sm-list table tr td {
	color: #c2c2c2;
}

.games-tabs .games-sm-list .more-box span {
	color: #c2c2c2;
}

.week-pank .wp-list .wp-group:nth-child(odd) {
	background-color: #29363d;
}

.week-pank .wp-list .wp-group:nth-child(even) {
	background-color: #2c3941;
}

.week-pank .wp-list .wp-group label.num {
	color: #383838;
	background-color: #ccc;
}

.week-pank .wp-list .wp-group:nth-child(1) label.num {
	color: #fff;
	background-color: #e34a4a;
}

.week-pank .wp-list .wp-group:nth-child(2) label.num {
	color: #fff;
	background-color: #04a2b3;
}

.week-pank .wp-list .wp-group:nth-child(3) label.num {
	color: #fff;
	background-color: #df9f00;
}

.week-pank .wp-list .wp-group .user-info .ui-right h5 {
	color: #c2c2c2;
}

label.role {
	color: #fff;
}

.role-red {
	background-color: #eb4b4b;
}

.role-green {
	background-color: #ade55c;
}

.role-purple {
	background-color: #d32ce6;
}

.role-yellow {
	background-color: #e4ae39;
}

.week-pank .wp-list .wp-group .count-right {
	color: #f88411;
}

.og-main .acc-tabs .tab-content .tab-pane {
	background-color: #29363d;
}

.og-box .ogb-filter select.form-control {
	color: #c2c2c2;
	background-color: #2a323c;
}

.og-box .ogb-list .obg-group {
	background-color: #2c3941;
}

.og-box .ogb-list .obg-group .head-img-box .sf-box {
	
}

.og-box .ogb-list .obg-group .img-list li a img {
	border-color: #fff;
}

.og-box .ogb-list .obg-group .count01 {
	color: #c2c2c2;
}

.og-box .ogb-list .obg-group .count02 {
	color: #c2c2c2;
}

.btn-primary {
	background-color: #038b9a;
}

.activity-desc .desc-box p {
	color: #9b9fa4;
}

.last-rewards .lr-list ul li:nth-child(odd) {
	background-color: #29363d;
}

.last-rewards .lr-list ul li:nth-child(even) {
	background-color: #2c3941;
}

.competition-info .comp-dets .cd-top .info-box {
	color: #c2c2c2;
}

.competition-info .comp-dets .progress-box {
	color: #a9acb0;
}

.competition-info .comp-dets .progress-box .progress-border {
	background-color: #f2f2f2;
}

.competition-info .comp-dets .progress-box .progress-border .linear.left
	{
	background: linear-gradient(to right, #c9c9c9, #030303);
}

.competition-info .comp-dets .progress-box .progress-border .linear.right
	{
	background: linear-gradient(to left, #c9c9c9, #030303);
}

.competition-info .comp-dets .center-box h2 {
	color: #d99b14;
}

.competition-info .comp-dets .center-box h3 {
	color: #e34a4a;
}

.competition-info .comp-dets .center-box h4 {
	color: #92979b;
}

.competition-info .comp-dets .center-box p a {
	color: #fff;
	background-color: #e34a4a;
}

.red {
	color: #e34a4a;
}

.goldyellow {
	color: #d49915
}

.jc-box h1.tit {
	background-color: #263238;
}

.jc-box h1.tit span.intro-right {
	color: gray;
}

.jc-box .jc-row {
	background-color: #29363d;
}

.jc-box .jc-row .btn-box p {
	color: #c2c2c2;
}

.sp-box h1.tit, .js-history h1.tit {
	color: #c2c2c2;
	background-color: #263238;
}

.sp-box h1.tit span label {
	color: #c66332;
}

.sp-box h1.tit span a {
	color: #c2c2c2;
}

.sp-box h1.tit a.right {
	color: #c2c2c2;
}

.js-history .jsh-list {
	background-color: #29363d;
}

.jsh-group .jshg-tit .username {
	color: #c2c3c4;
}

.jsh-group .jshg-tit .time-right {
	color: #9b9fa4;
}

.history-list ul li:nth-child(odd) {
	background-color: #29363d;
}

.history-list ul li:nth-child(even) {
	background-color: #2c3941;
}

.history-list ul li a .team-left label, .history-list ul li a .team-right label
	{
	color: #8e9298;
}

.history-list .btn-box {
	background-color: #29363d;
}

.history-list .btn-box a {
	color: #9a9ea3;
}


.jc-your h1.tit {
	color: #c2c2c2;
	background-color: #263238;
}

.jc-your h1.tit a.right {
	color: #c2c2c2;
}

.jc-your .jcy-det {
	background-color: #29363d;
}

.jc-your .jcy-det h2.tit {
	color: #c2c2c2;
}

.jc-your .jcy-det h2.tit a.right {
	color: #c2c2c2;
}

.panks-box h1.tit {
	color: #c2c2c2;
	background-color: #263238;
}

.panks-box .panks-list {
	background-color: #29363d;
}

.form-control:focus {
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0
		rgba(102, 175, 233, 0) !important;
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(102, 175, 233, 0)
		!important;
}

input {
	background-color: #3f464f;
	color: rgba(255, 255, 255, 0.6);
}

.item_price {
	color: #FFF;
}

.item_user_guess_top {
	color: #d2d4d6;
}

.history_guess_time {
	color: #9fa1a3;
}

.mylist-user-box {
	background-color: #29363d;
}

.mylist-user-box .count-box .cb-block {
	border-left-color: #797979;
	color: #9c9fa4;
}

.mnav li:nth-of-type(even) {
	background: rgba(0, 0, 0, .075);
}

.mnavItem {
	color: #c2c2c2;
}

.acc-tabs .nav-tabs {
	border-color: transparent;
}

.nav-tabs>li>a:hover {
	border-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
	background: transparent;
	color: #555;
}

.match_user_guess_left li, .match_user_guess_right li {
	background-color: #2c3941;
}

.user_guess_tuhao li:nth-child(odd) {
	background-color: #29363d;
}

.user_guess_tuhao li:nth-child(even) {
	background-color: #2c3941;
}

.dq_price {
	color: orange;
}

.dq_waiting {
	color: red;
}

.lock-icon {
	color: orange;
}

.newslist .news-title {
    color: #fff;
}

.newslist ul li a {
    color: #c2c2c2;
}

.ptitle {
	background-color: #263238;
}

.loading{
	color:gray;
}

.match-running {
	color:#66d203;
}

.match-living {
	color:orange;
}

.match-end {
	color:gray;
}

.offer_type1{
	color:green;
}

.offer_type-1{
	color:red;
}

.offer_type1 {
	color: green;
}

.offer_type-1 {
	color: red;
}

.press-common {
	background-color: gray;
}

.press-win {
	background-color: green;
}

.press-fail {
	background-color: red;
}

.no_record {
	color: gray;
}

.win{
	color:green;
}

.fail{
	color:red;
}
.nav-left .fa {
	color: #c2c2c2;
	font-size: 20px
}

.item_new{
	color:orange;
}

.popover-title {
	background-color: #1F1F1F;
	border-bottom: 0;
}

.popover {
	background-color: #4C4C4C;
	border: 1px solid #000;
}

.popover.bottom .arrow:after {
	border-bottom-color: #4C4C4C;
}

.pt10 {
	color:#c2c2c2;
}

.eventPanel .event-info li {
	color:#c2c2c2;
    background: rgba(108, 125, 133, 0.44);
}