/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2019, 6:56:06 AM
    Author     : minhh
*/
a:hover,
a:focus {
    text-decoration: none;
}

.pageContext {
    padding: 10px;
}

input {
    
    background-color: #3f464f;
    color: rgba(255, 255, 255, 0.6);
}

#header {
    color: #9ea2b3;
}

#header .header-login-in .user-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 5px 20px;
    border-radius: 50%;
}

#header .header-login-in .head_nickname {
    margin-right: 15px;
    max-width: 80px;
    font-size: 12px;
}

.lan-a img {
    width: 20px;
}

.a-right .logbtn {
    font-size: 12px;
}

.item_box {
    width: 78px;
    height: 52px;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 1px 10px 10px 1px;
}

.item_box .roll_out {
    font-size: 12px;
    color: #c2c4cf;
    line-height: 52px;
    position: absolute;
    top: -1px;
    left: -1px;
    height: 52px;
    z-index: 7;
    width: 78px;
}

.rarity_box {
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 10px;
    position: absolute;
    color: #ff8811;
}

.item_selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}

.item_price {
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    background-color: #101010;
    border-radius: 5px;
    font-size: 10px;
    display: inline-block;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity = 50);
    padding: 0 4px;
}

.item_state {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    padding: 0 4px;
}

.item_state .bag_items_lock {
    color: red;
}

.item_state .bag_items_new {
    color: green;
}

.item_steam_content {
    width: 100%;
    overflow: hidden;
    margin-left: 8px;
}

.item_user_guess_top {
    color: #d2d4d6;
    padding-left: 10px;
    padding-bottom: 20px;
}

.item_user_guess_top img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

.item_user_guess_name {
    float: left;
    margin-right: 10px;
    width: auto;
    max-width: 100px;
}

.item_user_message {
    float: right;
    margin-right: 10px;
    width: auto;
    max-width: 100px;
}

.item_user_guess_top div,
.item_user_guess_top label {
    margin-top: 15px;
}

.history_guess_time {
    margin-right: 10px;
    float: right;
    color: #9fa1a3;
    width: auto;
    max-width: 200px;
}

.user_guess_left,
.user_guess_right {
    width: 50%;
    margin-bottom: 10px;
    float: left;
}

.user_guess_tuhao {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.mylist-user-box {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #29363d;
}

.mylist-user-box .count-box {
    padding-top: 20px;
}

.mylist-user-box .count-box .cb-block {
    float: left;
    border-left: 1px solid #797979;
    width: 20%;
    color: #9c9fa4;
    text-align: center;
}

.mylist-user-box .count-box .cb-block:first-child {
    border-left: 0;
}

.mylist-user-box .count-box .cb-block h6 {
    margin-top: 0;
    font-size: 14px;
}

.mylist-user-box .count-box .cb-block p {
    margin-bottom: 0;
}

.mnavItemPanel {
    width: 100%;
    height: 100%;
    clear: both;
}

.mnavItemPanel a {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mnav {
    list-style: none;
    padding: 0;
    vertical-align: middle;
}

.mnav li {
    display: block;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}

.mnav li:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.075);
}

.mnav li span {
    font-size: 12px;
}

.mnavItem {
    color: #c2c2c2;
}

.navTeamLabel {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.mnav_flag {
    width: 16px;
    margin-right: 10px;
    margin-left: 2px;
    height: 16px;
}

.mnav_img {
    width: 20px;
    height: 20px;
}

.leagueSchedule li {
    height: 80px;
}

.leagueSchedule_img {
    margin-right: 2px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
}

.leagueSchedule li:nth-child(odd) {
    background-color: #29363d;
}

.leagueSchedule li:nth-child(even) {
    background-color: #2c3941;
}

.leagueScheduleMatchType {
    color: #ff9200;
}

.leagueEvent {
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
}

.leaguenav {
    list-style: none;
    padding: 0;
    vertical-align: middle;
}

.leaguenav li {
    display: block;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.leaguenav .leagueImg {
    margin-left: 30px;
    width: 280px;
    height: 80px;
}

.leagueNavItem {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.leagueNavItem a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leagueNavItemVCenter {
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
}

.league-row {
    position: relative;
    /*border-bottom: 1px solid #ccc;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.league-row a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.futureLeagueTitle {
    color: #919599;
    font-size: 18px;
}

.futureLeagueDescription {
    display: -webkit-box;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.match-group-heading {
    cursor: pointer;
    padding: 10px;
    background: #202020;
    color: #ff9200;
}

.schedule-group-heading {
    margin-left: 20px;
}

.img-thumb {
    border: 1px solid #666;
    padding: 1px;
}

.teamBigImg {
    width: 75px;
    height: 60px;
    background: #333;
    background-size: 75px 60px;
    -moz-background-size: 75px 60px;
    -moz-background-size: 75px 60px;
    -o-background-size: 75px 60px;
}

.pull-right {
    float: right !important;
}

.teamMediumImg {
    width: 35px;
    height: 35px;
    background: #333;
    background-size: 75px 60px;
    -moz-background-size: 75px 60px;
    -moz-background-size: 75px 60px;
    -o-background-size: 75px 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.winBigLeft {
    position: relative;
    left: -55px;
    top: -15px;
}

.winBigRight {
    position: relative;
    left: 55px;
    top: -15px;
}

.winMediumLeft {
    position: relative;
    left: -10px;
    top: -40px;
    width: 20px;
    height: 20px;
}

.winMediumRight {
    position: relative;
    left: 25px;
    top: -40px;
    width: 20px;
    height: 20px;
}

.module {
    margin-bottom: 10px;
}

h3.module-title {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.nickName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.acc-tabs .nav-tabs {
    border-color: transparent;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: transparent;
    color: #555;
    cursor: pointer;
}

.match_user_guess_left li,
.match_user_guess_right li {
    background-color: #2c3941;
    margin-top: 5px;
}

.match_user_guess_left li {
    margin-right: 5px;
}

.match_user_guess_right li {
    margin-left: 5px;
}

.user_guess_tuhao li {
    margin: 0;
}

.user_guess_tuhao li:nth-child(odd) {
    background-color: #29363d;
}

.user_guess_tuhao li:nth-child(even) {
    background-color: #2c3941;
}

.dq_price {
    color: orange;
}

.dq_waiting {
    color: red;
}

#index_notice_wallper div {
    width: 300px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 20px;
}

.user_guess_list_title {
    margin: 0;
    padding: 15px 20px;
    font-size: 16px;
    color: #c2c2c2;
    line-height: 30px;
    background-color: #263238;
}

.ornament_title {
    margin-bottom: 10px;
}

.divine_ornament,
.win_ornament {
    padding-left: 20px;
    padding-top: 10px;
    clear: both;
}

.formInput {
    background: rgba(0, 0, 0, 0) !important;
}

.formInput {
    color: rgba(255, 255, 255, 0.7) !important;
}

.matchTitleLine {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.matchTitleLine .time {
    width: 25%;
    text-align: left;
}

.matchTitleLine .desc {
    width: 50%;
    text-align: center;
}

.matchTitleLine .lock {
    width: 25%;
    text-align: right;
}

.lock-icon {
    color: orange;
}

.newslist .news-title {
    margin-left: 18px;
    padding-top: 5px;
    display: inline-block;
    color: #fff;
    vertical-align: bottom;
}

.newslist ul li a {
    display: inline-block;
    color: #c2c2c2;
    line-height: 18px;
}

.press-public {
    width: 50px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.press- {
    color: red;
}

.item_box .item_backing {
    height: 65px;
    padding-top: 25px;
}

.teamName {
    font-weight: bold;
}

#ranNavTabs.nav-tabs li {
    width: 50%;
}

.gift_action_row {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.personalTitle {
    margin-left: 18px;
}

.other-login {
    width: 250px;
    height: 100px;
    margin-left: 100px;
    margin-top: 20px;
}

.other-login a.link-steam {
    background-position: -303px -226px;
}

.other-login a.link-wx {
    background-position: -303px -281px;
}

.other-login a.link-qq {
    background-position: -303px -336px;
}

.other-login a {
    display: block;
    width: 171px;
    height: 35px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.bold {
    font-weight: 700;
}

.popoverxContext {
    display: none;
}

.popoverxContext > div {
    margin-bottom: 5px;
}

.pop_name {
    font-size: 18px;
}

.pop_game_info > div {
    float: left;
}

.pop_game_image {
    min-height: 32px;
}

.pop_game_other {
    margin-left: 5px;
}

.pop_game_other > div {
    color: #767676;
}

.pop_game_list {
    color: #b4b4b4;
    clear: both;
    font-size: 12px;
    padding-right: 8px;
    clear: both;
}

.pop_game_list * {
    color: white;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.obg-group .roll_item_img {
    width: 100%;
    height: 130px;
    position: relative;
}

.obg-group .roll_detail {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.roll_record_list {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.roll_prized_list_box {
    width: 1040px;
    max-height: 520px;
    overflow: hidden;
}

.roll_prized_items {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid #272a30;
    overflow: hidden;
}

.roll_prized_items_left {
    width: 74px;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin-right: 30px;
}

.roll_prized_items_left img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #30363c;
    margin-top: 15px;
}

.roll_prized_items_center {
    width: 160px;
    text-align: left;
    padding-top: 20px;
    float: left;
}

.roll_prized_items_center .describe {
    height: 20px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #999;
}

.roll_prized_items_right {
    width: 762px;
    height: 100%;
    float: left;
    padding-top: 15px;
}

.edit_roll .roll_title {
    height: 40px;
    width: 98%;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #d5d5d5;
    background: #272a30;
}

.edit_roll .roll_rooms {
    width: 440px;
    z-index: 8;
    float: left;
}

.edit_roll .roll_rooms_panel .roll_rooms .roll_rooms_content {
    width: 387px;
    height: auto;
    margin-left: 20px;
    font-size: 12px;
    color: #afb0b2;
}

.roll_rooms_content .active_time {
    width: 100%;
    height: 55px;
    margin-bottom: 25px;
}

.roll_rooms_content .content_left {
    display: block;
    height: 50px;
    line-height: 50px;
}

.roll_rooms_content .active_time .active_time_input {
    width: 100%;
}

.roll_rooms_content .partake,
.roll_rooms_content .room_password {
    width: 100%;
    height: 55px;
    margin-bottom: 25px;
}

.roll_rooms_content .content_left {
    display: block;
    height: 50px;
    line-height: 50px;
}

.roll_rooms_content .partake input,
.roll_rooms_content .room_password input {
    width: 387px;
}

.roll_rooms_content .partake,
.roll_rooms_content .room_password {
    width: 100%;
    height: 55px;
    margin-bottom: 25px;
}

.roll_rooms_content .content_left {
    display: block;
    height: 50px;
    line-height: 50px;
}

.roll_rooms_content .other_condition {
    width: 100%;
    height: auto;
}

.roll_rooms_content .other_condition .content_condition {
    float: left;
}

.roll_rooms_content .other_condition .content_condition .radio_box {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

.roll_rooms_content .other_condition .content_condition .radio_box .radio_type {
    height: 13px;
}

.roll_rooms_content
.other_condition
.content_condition
.radio_box
.content_right_txt {
    width: 60px;
    text-align: center;
    margin: 0 5px;
}

.roll_rooms_content
.other_condition
.content_condition
.radio_box
.content_right_txt {
    width: 60px;
    text-align: center;
    margin: 0 5px;
}

.roll_rooms_content input {
    background: #2e323a;
    color: #757575;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}

.roll_rooms_content .room_describe {
    height: 140px;
    width: 100%;
    margin-bottom: 20px;
}

.roll_rooms_content .room_describe #room_describe {
    width: 387px;
    height: 90px;
    background: #2e323a;
    padding: 10px;
    outline: none;
    color: #757575;
    border: none;
    border-radius: 4px;
    font-family: "å¾®è½¯é›…é»‘";
    font-size: 12px;
}

.wordcount {
    bottom: 4px;
    right: 4px;
    float: right;
}

.roll_rooms_content .other_condition .content_condition .add_ornaments_bot {
    width: 100%;
    font-size: 12px;
    line-height: 25px;
    color: #585a63;
    margin: 20px 0;
}

.roll_rooms_content
.other_condition
.content_condition
.add_ornaments_bot
.checkbox_wrapper,
.roll_rooms_content
.other_condition
.content_condition
.add_ornaments_bot
.checkbox_wrapper2 {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
}

.roll_rooms_content
.other_condition
.content_condition
.add_ornaments_bot
.checkbox {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: text-bottom;
}

.roll_rooms_content
.other_condition
.content_condition
.add_ornaments_bot
.checkbox
.checkbox_input {
    position: absolute;
    left: -6px;
    z-index: 1;
    cursor: pointer;
    /* opacity: 0; */
    top: -3px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.roll_rooms_content
.other_condition
.content_condition
.add_ornaments_bot
.checkbox
.checkbox_inner {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    background-color: #454954;
    border-color: transparent;
    width: 15px;
    height: 15px;
    margin-right: 0px;
}

.roll_rooms .get_open {
    width: 100%;
    text-align: center;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    right: 0px;
}

.roll_rooms .get_open a {
    width: 290px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    background: #c62f2f;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.Separate {
    width: 2px;
    height: 500px;
    float: left;
    margin-top: 20px;
}

.roll_add_item {
    width: 670px;
    height: 100%;
    margin-right: 20px;
    z-index: 8;
    float: right;
}

.prize_pool_content {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.item_box_append {
    cursor: pointer;
}

.item_box_append a {
    font-size: 18px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}

.owner_tab {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    line-height: 40px;
    margin-top: 10px;
}

.owner_tab p {
    margin-left: 20px;
    font-size: 14px;
    color: #c62f2f;
    font-weight: bold;
    float: left;
}

.owner_tab .radio_box {
    font-size: 12px;
    color: #a5a8b5;
    float: left;
    cursor: pointer;
}

.owner_tab .radio_box input {
    background: #2e323a;
    margin: 0 8px;
    position: relative;
    top: 2px;
}

.creater-info h4 {
    color: #9b9da2;
    font-weight: 600;
    text-align: center;
}

.creater-info .head-img-box .img-box {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

.creater-info .head-img-box .img-box img {
    width: 110px;
    height: 110px;
}

.creater-info .head-img-box .img-bg {
    position: absolute;
    left: 3px;
    bottom: -7px;
    width: 154px;
    height: 44px;
}

.Mask_create {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.room_info_user {
    height: 85px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0px;
}

.validateMsg {
    color: red;
}

.livevediolist {
    position: relative;
    margin-top: 10px;
    text-align: center;
    height: 240px;
}

.livevediolist a {
    background: -webkit-linear-gradient(left, #ffffff, #eceaea);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ffffff, #eceaea);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ffffff, #eceaea);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ffffff, #eceaea);
    /* æ ‡å‡†çš„è¯­æ³•ï¼ˆå¿…é¡»æ”¾åœ¨æœ€åŽï¼‰ */
    text-align: center;
    position: relative;
    display: block;
    width: 99%;
    height: 95%;
    border: 1px solid #c8c8c8;
}

.livevediolist a h4 {
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livevediolist a .liveimg {
    padding: 4px 4px 10px;
    display: block;
    width: 100%;
    height: 160px;
}

.livevediolist a p span {
    padding-left: 5px;
    font-size: 14px;
    color: #666;
}

.livevediolist a p span.username {
    text-align: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.livevediolist a p span.views {
    text-align: right;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    padding-right: 5px;
}

.livevediolist .hovericon {
    font-size: 4em;
    color: #ddd;
    display: none;
    position: absolute;
    left: 40%;
    top: 50px;
}

.livevediolist a:hover i {
    display: inline-block;
}

.livevediolist a:hover h4 {
    color: red;
}

.livevediolist a:hover {
    border: 1px solid #777;
    background: -webkit-linear-gradient(right, #ffffff, #eceaea);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #ffffff, #eceaea);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #ffffff, #eceaea);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to left, #ffffff, #eceaea);
    /* æ ‡å‡†çš„è¯­æ³•ï¼ˆå¿…é¡»æ”¾åœ¨æœ€åŽï¼‰ */
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid blue;
    border-right: 4px solid green;
    border-bottom: 4px solid red;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

